.cuadro{
    background-color:rgb(66, 132, 255);
    color: white;
    padding: 10%;
    padding-right: 3.5%;
    text-align: right;
    border-radius: 5% 5% 5% 5%;
}

.cuadro:hover{
    background-color: rgb(66, 132, 255);
    color: white; 
    text-decoration: none;
}

.inActivo{
    background-color: rgb(97, 151, 251);
}

